// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.admin-content
  position: absolute
  top: 50px
  left: 0
  width: 100%
  margin: 0

.admin-pannel
  position: fixed
  top: 50px
  left: 0
  width: 200px
  height: 100vh
  background-color: #222
  border-right: 1px solid black
  padding: 20px

.admin-board
  position: absolute
  padding-left: 220px
  padding-right: 20px
  padding-bottom: 50px
  width: 100%

.h-line
  border-bottom: 1px solid #777

.text-color
  color: #ddd

.inline
  display: inline !important

.border
  border: 1px solid black
  padding: 10px
  margin: 10px 0
