/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets"
@import "bootstrap"

$body-background: #333
$body-text-color: #ddd
$tile-background: #333
$tile-text-color: #ddd
$tile-border: 1px solid black
$button-background: #333
$button-text-color: #ddd
$input-border: 1px solid black
$input-background: #222
$input-text-color: #ddd
$footer-background: #222
$footer-text-color: #777
$border-color: 1px solid #ddd

body
  background-color: $body-background
  color: $body-text-color

a
  font-size: 1em

a:hover, a:active, select:active
  color: black !important
  background-color: $body-background
  text-decoration: none

h1 
  font-size: 26px
  padding-top: 10px
  margin-bottom: 20px

h2 
  font-size: 22px

h3
  margin-top: 15px

h4
  margin: 5px 0

input[type="submit"], input[type="button"], button[type="submit"], 
a.btn, label.btn
  @extend .btn
  margin: 15px 5px 15px 0
  border-radius: 0
  color: $button-text-color
  background-color: $button-background
  border: $input-border

input[type="password"], input[type="email"], input[type="text"], input[type="date"], input[type="number"]
  @extend .form-control
  width: 250px
  height: 27px
  border-radius: 0
  padding: 5px
  border: $input-border
  color: $input-text-color
  background-color: $input-background

input:-webkit-autofill
  background-color: black !important

input[type="submit"]:hover, input[type="button"]:hover,
input[type="submit"]:active, input[type="button"]:active
  color: black

input[type="password"]:focus, input[type="email"]:focus
  background-color: white
  color: black

textarea
  width: 250px
  height: 100px
  border: $input-border
  color: $input-text-color
  background-color: $input-background

html select
  @extend input[type="button"]
  height: 34px
  width: auto
  margin: 0
  appearance: select
  -webkit-appearance: select
  background-image: $input-text-color

td, th
  border-bottom: 1px solid #ddd !important

tr > td
  padding: 4px !important

// general
.footer
  position: fixed
  bottom: 0
  left: 0
  font-size: 12px
  padding: 5px 15px
  height: 27px
  width: 100%
  border-top: 1px solid black
  background-color: $footer-background
  color: $footer-text-color

.page
  height: 100vh

.glyphicon
  margin: 0 5px 0 0

.glyphicon-option-vertical:before
  content: "\e235"

.right
  text-align: right

.center
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -60%)

.main-content 
  margin: 0
  padding: 0 30px
  margin-top: 60px

.admin-content
  position: fixed
  top: 50px
  left: 0
  width: 100%
  margin: 0

.admin-tools
  height: 100vh
  background-color: $footer-background
  border-right: 1px solid black
  padding: 20px

.grey
  color: #777

.hidden
  display: none !important

#error_explanation li
  color: black !important

//buttons
.danger
  background-color: #890000 !important

.sharp
  margin: 2px 0 !important

.no-btn
  margin: 0 !important
  padding: 3px 20px !important
  border: none !important

// tables
.middle
  vertical-align: middle !important

td.no-line
  border: none !important

td.min
  width: 0px !important

// lists
.admin-tools ul, .admin-tools li
  list-style: none
  padding: 0
  margin: 5px

// grid
.new-access-warning
  position: relative
  height: 0
  top: -2px
  left: 9px

.new-access-warning > span
  position: absolute
  width: 230px

// form
.input-short
  width: 150px !important

.input-shorter
  width: 100px !important

// nav bar
.last-item
  padding-right: 15px

.nav-menu-separator
  border-right: 1px solid black
  height: 50px
  width: 1px

.dropdown-menu
  background-color: $body-background
  border-radius: 0

.dropdown-menu > li > a
  color: $body-text-color

//tiles
.tile
  position: relative
  margin: 15px 15px 0 0
  padding: 0 20px 20px 20px
  background-color: $tile-background
  color: $tile-text-color
  width: 300px
  height: 200px
  border: $tile-border
  float: left
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

.tile a
  color: $tile-text-color
  text-decoration: none

.tile a:hover
  color: white
  background-color: $tile-background

.login
  width: 430px
  height: 197px
  transform: translate(-50%, -105%)

.add_project
  background-color: $body-background
  border: 3px dashed #777
  color: #777
  border-radius: 0
  box-shadow: none

.edit-icon
  position: absolute
  right: 16px
  top: 14px 

.super-large-symbol
  font-size: 1.3em
  color: #777
